@model SimpsonsSearch.Models.SearchformModel

<div class="container">
    <div class="row" id="searchForm">

        <form method="post" class="active-cyan-3" asp-controller="Search" asp-action="Results">
            <div class="form-group">
                <input class="form-control" type="text" asp-for="searchQuery"/>
            </div>
            <div class="text-center">
                <button id="searchButton" type="submit" class="btn btn-danger">Search</button>
            </div>
        </form>
    </div>
</div>
