/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#layoutFooter {
    padding-left: 5px;
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
}

#searchForm {
    padding-top: 15px;
}

#indexImage {
    width: 50%;
}

#results {
    font-family: "Arial", sans-serif;
    border: 3px solid rgba(255,255,255,1);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.Entry {
    width: 150px;
    text-align: left;
    border: 2px solid #e0d823;
    border-spacing: 5px;
}

.Episode {
    width: 10%;
}

.Text {
    width: 40%;
}

.Actor {
    width: 15%;
}

.Score {
    width: 30%;
}

.ID {
    width: 5%;
}

tr > td {
    padding-bottom: 12px;
    padding-top: 12px;
}

#results {
    font-family: "Arial", sans-serif;
    border: 3px solid rgba(255,255,255,1);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.Entry {
    width: 150px;
    text-align: left;
    border: 2px solid #e0d823;
    border-spacing: 5px;
}

.Episode {
    width: 10%;
}

.Text {
    width: 40%;
}

.Actor {
    width: 15%;
}

.Score {
    width: 30%;
}

.ID {
    width: 5%;
}

tr > td {
    padding-bottom: 12px;
    padding-top: 12px;
}



/* PAGEINATION*/

