

<div class="container">

    @await Html.PartialAsync("_searchForm", new SimpsonsSearch.Models.SearchformModel())

    <div class="mx-auto text-center">
        <img id="indexImage" src="~/images/simpsons_wallpaper.jpg" class="img-fluid" alt="simpsons Wallpaper" />
    </div>

</div>




