@model SimpsonsSearch.IndexViewModel
@*
*@
@{
}

<div class="row">
    <form method="post" asp-controller="Search" asp-action="Results">
        <div class="form-group">
            <input class="form-control" type="text" asp-for="SearchQuery" />
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

<div class="mx-auto text-center">
    <img src="~/images/simpsons_wallpaper.jpg" class="img-fluid" alt="simpsons Wallpaper" width="50%" />
</div>

