@model SimpsonsSearch.IndexViewModel

@*
*@
@{
}

<form method="post" asp-controller="Search" asp-action="Results">
    <div class="form-group">
        <input class="form-control" type="text" asp-for="SearchQuery"/>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

<table class="table table-bordered table-striped table-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Klasse</th>
    </tr>
    
    @foreach (var episode in Model.Episodes)
    {
          
        <tr>
            <th scope="row"></th>
            <td> @episode.title</td>
            <td> Episode @episode.number_in_season in season @episode.season </td>
            <td>
                <a class="btn btn-dark" asp-action="" asp-route-id="">Details</a>
            </td>
        </tr>
    }      
</table>