@model SimpsonsSearch.searchEngine.SearchResults;

@{
    ViewData["Title"] = "Results";
}


@await Html.PartialAsync("_searchForm", new SimpsonsSearch.Models.SearchformModel())



<h2>Best Episodes for @Model.TopicName.</h2>

<table class="table table-bordered table-striped table-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">Episode</th>
        <th scope="col">Score</th>
    </tr>

    @foreach (var hit in Model.Hits)
    {

        <tr>
            <th scope="row"></th>
            <td> Episode: @hit.Id</td>
            <th> Score: @hit.Score</th>
        </tr>
    }
</table>